<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'bootstrap/bootstrap.min.css'%}">

    <title>CRUD OPERATIONS</title>
  </head>
  <body>
<div class="container mt-5">
  <h2 class="text-center alert alert-danger">function based view modelform crud project</h2>
  {%block content%} {%endblock content%}
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{%static 'bootstrap/jquery-3.2.1.slim.min.js'%}/" ></script>
    <script src="{%static 'bootstrap/popper.min.js'%}/" ></script>
    <script src="{%static 'bootstrap/bootstrap.min.js'%}/"></script>
  </body>
</html>